/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#about-header {
    height: 250px;
    width: 100%;
    background:url("../images/modern.jpg");
    background-position: center center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

#about-header h1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    position: relative;
    z-index: 5;
    font-weight: 900;
}

/*-- -------------------------- -->
<---           ABOUT            -->
<--- -------------------------- -*/

#about-topper {
    position: relative;
    height: auto;
}

.about-flex-img {
    width: 100%;
    margin-bottom: 50px;
}

.about-topper-content h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 50px 0 0 0;
    text-align: left;
}

.about-topper-content h2 span {
    display: block;
    color: var(--primary);
}

.mobile-remove {
    display: none;
}

.about-topper-content img {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.44);
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.44);
}

.about-line {
    width: 100%;
    height: 2px;
    background: var(--main-red);
    opacity: .5;
    margin: 15px auto;
}

.about-topper-content p {
    text-align: left;
}

.about-topper-content p:last-child {
    margin-bottom: 60px;
}

.about-icons-wrapper {
    position: relative;
    padding-top: 50px;
}

.card-svg,
.top-img-svg {
    display: none;
}

.about-wave {
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1);
    position: absolute;
    height: 150px !important;
    top: -2px;
}

/*-- -------------------------- -->
<---          ICONS             -->
<--- -------------------------- -*/

.about-icons-wrapper {
    height: auto;
    background: url("../images/about-background.jpg");
    background-position: center center;
    position: relative;
}

.icons-dark {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(0,57,128);
    background: -o-linear-gradient(45deg, rgba(0,57,128,1) 0%, rgba(77,167,255,1) 0%, rgba(33,148,255,0.8855917366946778) 49%, rgba(0,114,255,1) 86%);
    background: linear-gradient(45deg, rgba(0,57,128,1) 0%, rgba(77,167,255,1) 0%, rgba(33,148,255,0.8855917366946778) 49%, rgba(0,114,255,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003980",endColorstr="#0072ff",GradientType=1);
}

.about-item {
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about-container {
    padding: 80px 0 20px 0;
    position: relative;
    z-index: 1000;
    padding-bottom: 100px;
}

.about-item svg {
    height: 63px;
}

p.number {
    color: #fff;
    font-size: 43px;
    margin: 10px 0 5px 0;
}

.text {
    font-size: 1.7em;
    color: #fff;
    font-weight: 900;
    text-align: center;
}

.large-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-bottom: 80px;
}

.large-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: transparent;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 15px;
}

.large-item p {
    font-size: 40px;
    color: #fff;
    margin: 0;
    text-align: center;
}

.box {
    margin-bottom: 50px;
}

.box:last-child {
    margin-bottom: 0;
}

.box svg {
    width: 50px;
    height: auto;
    margin-bottom: 60px;
    margin-right: 30px;
    float: left;
}

.top-clippy {
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: -1px;
    background: #fff;
    -webkit-clip-path: polygon(0 93%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 93%, 100% 0, 100% 100%, 0% 100%);
}

/*-- -------------------------- -->
<---         WHO WE ARE         -->
<--- -------------------------- -*/

.clippy-bottom {
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: -148px;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 93%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 93%, 100% 100%, 0 100%);
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1);
    z-index: 1000;
}

#about-content {
    padding: 50px 0;
    position: relative;
}

.about-flex-content h3 {
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    line-height: 1.5em;
}

.about-flex-line {
    width: 100%;
    height: 1px;
    background: var(--main-red);
    opacity: .5;
    margin: 10px 0;
}

.grey-text {
    text-align: left;
    color: #838383;
    font-size: 1.1em;
    line-height: 1.7em !important;
    margin-bottom: 80px;
}

.about-card {
    display: none;
}

.about-wave-bottom {
    position: absolute;
    z-index: 1000;
    height: 150px !important;
    bottom: -2px;
}

.contact-wave-bottom {
    position: absolute;
    z-index: 1000;
    height: 150px !important;
    bottom: -148px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

#contact {
    padding-top: 50px;
}

.contact-dark {
    top: 0;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

    /*-- -------------------------- -->
    <---           HEADER           -->
    <--- -------------------------- -*/

    #about-header {
        height: 300px;
    }

    h1.services-header {
        font-size: 70px !important;
    }

    /*-- -------------------------- -->
    <---           ABOUT            -->
    <--- -------------------------- -*/

    .about-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 60px 0;
    }

    .about-flex-content {
    }

    .about-topper-content h2 span {
        display: block;
    }

    .about-flex-img {
        width: 250px;
    }

    /*-- -------------------------- -->
    <---          CONTACT           -->
    <--- -------------------------- -*/

    .contact-button {
        width: 250px;
        margin: 10px auto;
    }

    .contact-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .left p, .left h3 {
        text-align: center;
    }

    .left p {
        margin-bottom: 10px
    }
}

@media screen and (min-width: 1025px) {

	
	/*-- -------------------------- -->
    <---           HEADER           -->
    <--- -------------------------- -*/

    #about-header {
        height: 450px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    h1.services-header {
        font-size: 70px !important;
        text-align: center;
        margin: auto;
        margin-top: 210px;
    }

    .about-line {
        width: 721px;
        margin: 15px auto;
    }

    .about-topper-content {
        position: relative;
    }

    .top-img-svg {
        display: block;
        position: absolute;
        opacity: .1;
        z-index: -1;
        top: -60px;
        left: -180px;
        height: 300px;
        -webkit-transform: rotate(100deg);
            -ms-transform: rotate(100deg);
                transform: rotate(100deg);
    }

    .about-topper-content p {
        width: 721px;
        margin: 0 auto 50px auto;
    }

    .about-topper-content h2 {
        width: 721px;
        margin: auto;
        margin-top: 120px;
    }

    .about-icons-wrapper {
        height: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0;
        height: 600px;
    }

    .about-item {
        width: 204px;
        margin: 0 auto 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .about-item h3 {
        font-size: 23px;
    }

    .large-container {
        margin: auto 30px;
    }

    p.number {
        font-size: 30px;
    }

    p.text {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0;
        width: 140px;
    }

    /*-- -------------------------- -->
    <---           ABOUT            -->
    <--- -------------------------- -*/

    #about-content {
        width: 100%;
        height: auto;
        padding-top: 150px;
        padding-bottom: 130px;
        position: relative;
    }

    .about-icons-wrapper {
        padding-bottom: 50px;
    }

    .about-topper-content {
        padding-bottom: 100px;
    }

    .about-topper-content p,
    .about-topper-content h2 {
        margin-right: 0 !important;
        width: 700px;
    }

    .about-topper-content h2 {
        font-size: 34px;
    }

    .about-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 980px;
        height: 400px;
        position: relative;
    }

    .about-flex-img {
        display: none;
    }

    .mobile-remove {
        display: inline-block;
        width: 350px !important;
        margin: 0 !important;
        float: left;
    }

    .desktop-remove {
        display: none;
    }

    .about-flex-content p {
        width: 600px;
    }

    .about-card {
        display: block;
        z-index: 2000;
        width: 350px;
        height: auto;
        border: 1px solid rgba(219,219,219, .6);
        -webkit-background-clip: padding-box; /*Safari*/ ;
        background-clip: padding-box /*the rest*/;
        position: absolute;
        top: -270px;
        right: -100px;
        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.44);
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.44);
        z-index: 3000;
        background: #fff;
    }

    .card-svg {
        position: absolute;
        height: 300px !important;
        bottom: 0px;
        opacity: .1;
        right: -100px;
        bottom: 100px;
        display: block;
    }

    .top-card-svg {
        bottom: 400px;
        right: 90px;
        z-index: 1000;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
    }

    .about-card img {
        width: 100%;
        height: auto;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-radius: 9px 9px 0 0;
    }

    .about-card svg {
        height: 36px;
        width: auto;
        margin: 40px 100% 20px 0;
        text-align: left;
    }

    .about-item svg {
        width: auto;
    }

    .about-card p,
    .about-card h4 {
        text-align: left;
    }

    #call-anytime {
        font-size: 23px !important;
        font-family: raleway,sans-serif;
        text-align: left;
    }

    .card-content {
        padding: 25px !important;
        position: relative;
    }

    .card-content h4 {
        font-size: 35px;
        margin: 15px 0 15px 0;
        color: var(--primary);
    }

}