/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#about-header {
    height: 250px;
    width: 100%;
    background:url("../images/kitchen-compressor.jpg");
    background-position: center center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

#about-header h1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    position: relative;
    z-index: 5;
    font-weight: 900;
}

/*-- -------------------------- -->
<---          SERVICES          -->
<--- -------------------------- -*/

#services {
    display: relative;
}

.services-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px auto !important;
}

.card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 350px;
    margin-bottom: 50px;
    border-radius: 10px !important;
    -webkit-box-shadow: 1px -1px 33px -10px rgba(0,0,0,0.36);
    box-shadow: 1px -1px 33px -10px rgba(0,0,0,0.36);
}

.card img {
    max-width: 350px;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.card-content {
    padding: 30px 20px;
}

.card-content h3 {
    text-align: left;
    font-weight: bold;
}

.services-line {
    height: 1px;
    width: 80%;
    background: var(--main-red);
    margin: 10px auto 10px 0;
}

.card-content p {
    text-align: left;
}

@media screen and (min-width: 500px) and (max-width: 1024px) {

	#about-header {
        height: 300px;
    }

    h1.services-header {
        font-size: 70px !important;
    }

	.services-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

    .card {
		margin: 20px;
		width: 300px;
		height: 460px;
	}

	.card img {
		width: 300px;
		height: 200px;
	}
	
	.mobile-nav {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

}

@media screen and (min-width: 1025px) {

    #about-header {
        height: 450px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    h1.services-header {
        font-size: 70px !important;
        text-align: center;
        margin: auto;
        margin-top: 100px;
    }

    /*-- -------------------------- -->
    <---          SERVICES          -->
    <--- -------------------------- -*/
    
    #services {
        display: relative;
    }

	#contact-header {
		height: 450px;
		background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
	}
	
	.contact-header {
		font-size: 70px !important;
	}

    .card {
		margin: 20px;
		width: 350px;
		height: 510px;
	}

	.card img {
		height: 250px !important;
		width: 350px;
	}

    .services-flex {
        max-width: 1300px !important;
        margin-top: 100px !important;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
	}

}